.index-wrapper {
  background-color: #282828;
  height: 100%;
  width: 100%;
}

.index-header {
  position: relative;
  top: 0;
  height: 60px;
  font-size: 0.9em;
}

.index-container {
  position: relative;
  margin: 0 auto;
  height: 100vh;
  background-color: #282828;
}

pre {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  top: 50%;
  left: 46%;
  font-size: 2em;
  line-height: 150%;
  color: #FFF;
}

.small-pre {
  display: none;
}

.index-footer {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 0;
}

.syntax {
  font-weight: 600;
}

.red {
  color: #96281B;
}

.blue {
  color: #3498DB;
}

.green {
  color: #26A65B;
}

.orange {
  color: #F9690E;
}

.yellow {
  color: #F5AB35;
}

.yellow a {
  color: inherit;
}

.yellow a:hover {
  color: #F5D76E;
}

.purple {
  color: #8E44AD;
}

.purple a {
  color: inherit;
}

.purple a:hover {
  color: #BE90D4;
}

.gray {
  color: #666;
}
