@media screen and (min-width: 651px) and (max-width: 1000px) {

  /*hide the pre and show a different one*/
  .big-pre {
    display: none;
  }
  .small-pre {
    display: block;
    font-size: 1.7em;
  }

  .resume-container {
    width: 90%;
  }
}

@media screen and (max-width: 650px) {

  header {
    font-size: 0.8em;
  }

  .big-pre {
    display: none;
  }

  .small-pre {
    display: block;
    left: 43%;
    line-height: 180%;
    font-size: 1.3em;
  }

  footer {
    font-size: 0.85em;
  }

  .resume-container {
    width: 95%;
    margin-top: 2.5em;
  }

  .resume-container section .title {
    display: block;
    margin: 0 auto 1em auto;
    width: 95%;
    text-align: left;
    margin-left: 15px;
  }

  .resume-container section .info {
    position: relative;
    display: block;
    width: 95%;
    margin: 0 auto;
  }

  .resume-title .info h1,
  .resume-title .info .subtitle {
    margin: 0 auto;
    width: 95%;
  }

  .official-info {
    display: block;
    width: 100%;
    border-bottom: none;
    margin: 1em auto 0 auto;
  }

  .official-additional {
    display: block;
    width: 100%;
    border-bottom: 1px solid #DBDBDB;
    margin-bottom: 1em;
  }
  .official-additional p {
    padding-bottom: 0.5em;
  }

  .experience {
    margin-bottom: 2em;
  }

  .work-experience {
    top: 2em;
  }

  .interesting,
  .projects {
    top: 4em; 
  }

  .interesting img,
  .projects img {
    width: 80px;
    height: 80px;
  }

  .project-container .project-info p {
    padding-bottom: 0;
  }

  .milestone {
    width: 100%;
  }

  .milestone-info {
    display: inline-block;
    width: 40%;
  }

  .title img {
    margin-left: 0.3em;
  }
}